sqlalchemy<2.0
exchangelib
python-dotenv==1.0.0
peewee==3.17.0
schedule==1.2.1
psycopg2==2.9.9
fastapi==0.104.1
uvicorn==0.24.0.post1
pydantic==2.5.2
python-multipart==0.0.6
transformers==4.36.1
numpy==1.26.0
pandas==2.1.4
torch==2.1.2